
@font-face {
  font-family: Delima;
  src: url(../font/Delimax.ttf);
}
@font-face {
  font-family:CrackedCode;
  src: url(../font/CrackedCode.ttf);
}
body {
  background: white;
}
.logo_txt{
    font-family: CrackedCode;
    font-weight: lighter;
}

.welcome{
    font-family: Delima;
    text-align: center;
    font-weight: bold;
    font-size: 28pt;
    margin-top: 50px;
    margin-bottom: 50px;
}
.judul{
  font-family: Delima;
  text-align: center;
  font-weight: bold;
  font-size: 28pt;
  margin-top: 100px;
  margin-bottom: 50px;
}

  .row{
    width: 100%;
  }
  
  .colom{
    width: 100%;
    background-color: transparent;  
  }
  .footer{
    clear: both;
    background: #333333;
    padding-top: 18px;
    width: 100%;
    background-color: #333333;
    height: 210px;
    color: white;
  }

   
.footleft, .footright{
  float: left;
  width: 45%;
  padding-left: 2%;
}

/*  .footer_content{
    width: 45%;
    float: left;
    margin-bottom: 30px;
    padding-left: 25px;
  }*/
  .foot_copy{
    width: 100%;
    height: 50px;
    background: #2d2b2b;
    position: relative;
    clear: both;
    color: white;
    text-align: center;
    padding-top: 15px;
    bottom: 0px;
  }
  .box_content_container{
  width: 90%;
    clear: both;
    margin: 0px auto;
    margin-bottom: 142px;
    position: relative;
        margin-top: 50px;
  }
  .box{
    background: white;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 9px 7px 19px #dcd6d6;
    padding-bottom: 20px;

  }
  .box-grid1{
    float: left;
    width: 8.3%;
  }
  .box-grid2{
    float: left;
    width: 16.6%;
  }
  .box-grid3{
    float: left;
    width: 24.9%;
  }
  .box-grid4{
    float: left;
    width: 33.2%;
  }
  .box-grid5{
    float: left;
    width: 41.5%;
  }
  .box-grid6{
    float: left;
    width: 49.8%;
  }
  .box-grid7{
    float: left;
    width: 58.1%;
  }
  .box-grid8{
    float: left;
    width: 66.4%;
  }
  .box-grid9{
    float: left;
    width: 74.7%;
  }
  .box-grid10{
    float: left;
    width: 83%;
  }
    .box-grid11{
    float: left;
    width: 91.3%;
  }
    .box-grid12{
    float: left;
    width: 99.6%;
  }
  

.cardimg{
  width: 30%;
  float: left;
}
.cardimg IMG{
  height: 250px;
  width: 250px;
  border-radius: 5%;
}
.cardimgprofile{
  height: 250px;
  width: 250px;
  border-radius: 5%;
}
.cardcontent{
  width: 60%;
  float: left;
  padding-left: 30px;
}
.cardimg-right img{
  height: 250px;
  width: 250px;
  border-radius: 5%;
  float: right;
  margin-right: 30px;
  margin-top: 22px;
}
.cardimg-left img{
   height: 250px;
  width: 250px;
  border-radius: 5%;
  float: left;

}
.cardcontent-left{
  width: 60%;
  float: left;
}